@model TransportInfoModel
@if (Model != null)
{
    <table class="table table-striped table-bordered">
        <tr>
            <td>
                Address
            </td>
            <td>@Model.TransportInfo.Address
            </td>
        </tr>
        <tr>
            <td>
                Type
            </td>
            <td>@Model.TransportInfo.Type
            </td>
        </tr>
        <tr>
            <td>
                Ordered Delivery
            </td>
            <td>@Model.TransportInfo.OrderedDelivery
            </td>
        </tr>
        <tr>
            <td>
                Retry Count
            </td>
            <td>@Model.TransportInfo.RetryCount
            </td>
        </tr>
        <tr>
            <td>
                Retry Interval
            </td>
            <td>@Model.TransportInfo.RetryInterval
            </td>
        </tr>
        <tr>
            <td>
                Send handler
            </td>
            <td>
            <a href="@Model.TransportInfo.Host.Path(Model.CurrentManifest)">@Model.TransportInfo.Host.Name</a>
            
            </td>
        </tr>
    </table>
    if (Model.TransportInfo.ServiceWindow.Enabled)
    {
    <h4>
        Service Window</h4>
    <table class="table table-striped table-bordered">
        <tr>
            <td>
                Enabled
            </td>
            <td>@Model.TransportInfo.ServiceWindow.Enabled
            </td>
        </tr>
        <tr>
            <td>
                Start Date
            </td>
            <td>@Model.TransportInfo.ServiceWindow.FromTime
            </td>
        </tr>
        <tr>
            <td>
                End Date
            </td>
            <td>@Model.TransportInfo.ServiceWindow.ToTime
            </td>
        </tr>
    </table>
    }
}
